
/* Styling for header */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #DBD3CE;
}

#container {
  width: 100%;
  height: 80px;

  background: #E5E5E5;
  font-size: 30px;
}

header {
  width: 100vw;
  height: 100%;
  border-bottom: solid 1px rgba(16, 16, 16, 0.1);
  font-family: Cera-Pro;
}

header .inner{
  width: 100vw;
  height: 100%;
  display: block;
  margin: 0 auto 0 2px;
}

header .inner h1 {
  color: #E76D6C;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: Cera-Pro;
}

header .logo {
  display: table;
  height: 100%;
  float: left;
}

header .logo div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.logoAnchor:visited {
  color: #E76D6C;
}

header nav {
  float: right;
  height: 100%;
}

header nav li{
  height: 100%;
  display: table;
  float: left;
  padding: 0px 0px;
  color: black;
}

.nav a:hover{
  color: #E76D6C;
}

.nav a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  font-family: "Cera-Pro";
  font-size: 20px;
}

header nav span {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  background-color: #DBD3CE;
}

.hover:hover {
  color: #000000;
  filter: brightness(0.95);
}

header nav a {
  color: #E76D6C;
}

header nav .button {
  background-color: #DBD3CE;
  padding: 11px 20px;
  border-radius: 3px;
}


/*

Styling for main body.

*/

/* Setup for grid view */
.img-grid {
  grid-area: image;
  align-self: stretch;
}

.app-desc-grid {
  grid-area: appDesc;
  justify-self: center;
  align-self: center;
}

.test-grid {
  grid-area: testDiv;
}

#mainView{
  /* background-image: linear-gradient(45deg, #E76D6C, #E76D6C); */
  margin-top: 10px;

  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "image image appDesc appDesc"
    "testDiv testDiv testDiv testDiv";
}

.image-style {

}

.desc-style {

}

.test-style {
    /* background-image: linear-gradient(45deg, #E76D6C, #E76D6C);
    transform: skewY(-20deg); */
}


.inner_body {
  background-image: linear-gradient(45deg, #E76D6C, #E76D6C);
  max-height: 45%;
  transform: skewY(-9deg);
}

.phoneimg {
  max-height: 80%;
  max-width: 50%;
  padding: 30px;
  padding-top: 0px;
  padding-left: 100px;
   vertical-align: top;
  /* transform: translateY(-100px);
  transform: skewY(9deg); */
}

/* .app_description {
  display: inline-block;
  font-family: "Cera-Pro";
  transform: skewY(0deg);
  max-width: 50%;
  float: right;
  transform: translateY(-200px);
} */

@font-face {
  font-family: "Cera-Pro";
  src: url('Cera_Pro_Medium.otf');
}
