html,body{
    margin: 0;
    overflow-y: auto;
    overflow: overlay;
}

/*-------------------------------------
LANDING PAGE DESIGN
-------------------------------------*/
#landing-page{
    height: 100vh;
    width: 100vw;
    
    display: grid;
    place-content: center;

    background-color: var(--brand-primary);
}

/*Background*/
.promo-video {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
    object-fit:initial;
    overflow: hidden;
}

/*Forground*/
.promo-overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: relative;
    z-index: 1;
    text-align: center;
    white-space: nowrap;
}

/*-------------------------------------
ABOUT PAGE DESIGN
-------------------------------------*/
#about-page{
    height: 100vh;
    width: 100vw;
    
    display: grid;
    place-content: center;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);

    background-color: var(--brand-primary);
}

.best-places{
    display: flex;
    flex-direction: row;
    align-items: center;

    white-space: nowrap;

    grid-column: 2 / 3;
    grid-row: 2;
}

.about-best-places{
    grid-column: 2 / 4;
    grid-row: 4;
}
/*<img src="./assets/images/mockup.png" alt="Guavah Application Mockup">*/

/*-------------------------------------
ABOUT-TWO PAGE DESIGN
-------------------------------------*/
#about-two-page{
    height: 75vh;
    width: 100vw;
    
    display: grid;
    place-content: center;
    grid-template-columns: repeat(1fr,12);
    grid-template-rows: repeat(1fr, 12);

    background-color: var(--background);
}

/*-------------------------------------
DOWNLOAD PAGE DESIGN
-------------------------------------*/
#download-page{
    height: 100vh;
    width: 100vw;
    
    display: grid;
    place-content: center;
    grid-template-columns: repeat(1fr,12);
    grid-template-rows: repeat(1fr, 12);

    background-color: var(--brand-secondary);
}
