/*Medium Browser Screens*/
@media (max-width: 1355px) {
    .community-profiles{
        grid-column: 2/5;
        grid-row: 3/6;

        grid-template-columns: repeat(3,1fr) !important;
        grid-template-rows: repeat(3, 80px) !important;

    }

    .user1{
        grid-column: 1 !important;
        grid-row: 1 !important;
        width: 75px !important;
    }
    .user2{
        grid-column: 2 !important;
        grid-row: 1 !important;
        width: 75px !important;
    }
    .user3{
        grid-column: 3 !important;
        grid-row: 1 !important;
        width: 75px !important;
    }
    .user4{
        grid-column: 1 !important;
        grid-row: 2 !important;
        width: 75px !important;
    }
    .user5{
        grid-column: 2 !important;
        grid-row: 2 !important;
        width: 75px !important;
    }
    .user6{
        grid-column: 3 !important;
        grid-row: 2 !important;
        width: 75px !important;
    }
    .user7{
        grid-column: 2 !important;
        grid-row: 3 !important;
        width: 75px !important;
    }
    .user8{
        grid-column: 2 !important;
        grid-row: 3 !important;
        width: 75px !important;
    }
}

/*Small Browser Screens*/
@media (max-width: 1025px) {

    html, body{
        overflow-x: none !important;
    }
    body{
        width: 100% !important;
    }

    /*Navbar*/
    .guavah-navbar-button{
        display: none;
    }
    .guavah-navbar-button-login{
        display: none;
    }
    .guavah-navbar-button-hamburger{
        display: flex !important; 
    }

    /*Landing Page*/
    h1.guavah-header-light{
        word-spacing: 100vw;
        white-space: normal;
        text-align: center;
    }

    /*About Page*/
    .animation-best-places{
        min-height: 580px !important;
        max-width: 250px;
        grid-column: 8 / 12 !important;
    }

    /*About Two Page*/
    #about-two-page{
        grid-template-columns: repeat(13,1fr) !important;
    }

    .about-window-1{
        grid-column: 2 / 7 !important;
        grid-row: 4 / 6 !important;
        text-align: left !important;
    }

    .about-window-2{
        grid-column: 8/13 !important;
        grid-row: 4 / 6 !important;
        text-align: left !important;
    }

    .about-window-3{
        grid-column: 2 / 7 !important;
        grid-row: 7 / 9 !important;
        text-align: left !important;
    }

    .about-window-4{
        grid-column: 8/13 !important;
        grid-row: 7 / 9 !important;
        text-align: left !important;
    }

    /*About 3 Page*/
    .user-experience-heading{
        justify-content: flex-end;
        grid-column: 2/11 !important;
        grid-row: 2 !important;
        text-align: right;
        visibility: hidden;
    }

    .about-user-experience{
        display: flex;
        grid-column: 2/11 !important;
        grid-row: 3 !important;

        text-align: right;
        visibility: hidden;
    }

    .community-profiles{
        grid-column: 3/6 !important;
        grid-row: 7/9 !important;

        grid-template-columns: repeat(4,1fr) !important;
        grid-template-rows: repeat(2, 80px) !important;

    }

    .user1{
        grid-column: 1 !important;
        grid-row: 1 !important;
        width: 50px !important;
    }
    .user2{
        grid-column: 2 !important;
        grid-row: 1 !important;
    }
    .user3{
        grid-column: 3 !important;
        grid-row: 1 !important;
    }
    .user4{
        grid-column: 4 !important;
        grid-row: 1 !important;
    }
    .user5{
        grid-column: 1 !important;
        grid-row: 2 !important;
    }
    .user6{
        grid-column: 2 !important;
        grid-row: 2 !important;
    }
    .user7{
        grid-column: 3 !important;
        grid-row: 2 !important;
    }
    .user8{
        grid-column: 4 !important;
        grid-row: 2 !important;
    }

}

/*Specific for the download Page*/
@media (max-width: 776px) {
    .download-badges{
        grid-row: 6 !important;
    }
}

/*Specific for the download Page*/
@media (max-width: 630px) {
    .stats-window-1{
        grid-column: 4;
        grid-row: 8;
    }

    .stats-window-2{
        grid-column: 10 !important;
        grid-row: 8;
    }

    .stats-window-3{
        grid-column: 4 !important;
        grid-row: 9 !important;
        margin-top: 1rem;
    }

    .stats-window-4{
        grid-column: 10;
        grid-row: 9 !important;
        margin-top: 1rem;
    }
}



/*Minimum Information - REALLY SMALL BROWSER SCREENS
but mostly mobile devices and the like.*/
@media (max-width: 430px) {

    /*Landing Page*/
    h1.guavah-header-light{
        word-spacing: 100vw;
        white-space: normal;
        text-align: center;
        font-size: 2.5rem;
    }

    /*about-one-page*/
    .animation-best-places{
        max-width: 250px !important;
        max-width: 250px !important;
        grid-column: 4/10 !important;
        grid-row: 4 !important;
    }
    .best-places{
        display: flex;
        flex-direction: column !important;
        align-items: flex-start !important;
        

        grid-column: 3 / 6;
        grid-row: 2 !important;

        visibility: hidden;
        
    }

    h2.guavah-space-left-medium{
        margin-left: 0px !important;
        margin-top: 10px;
    }

    h2.guavah-emphasis-light{
        font-size: 1.8rem !important;
    }
    .about-best-places{
        display: flex;
        grid-column: 3 / 12 !important;
        grid-row: 4 !important;

        visibility: hidden;
        margin-top: 23px;
    }

    h2.guavah-space-top-medium{
        margin-top: 0px !important;
    }

    /*about-two-page*/
    #about-two-page{
        min-height: 850px !important;
        grid-template-rows: repeat(20, 5%) !important;
    }

    .window-header{
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-end !important;
    }

    .about-window-1{
        grid-column: 2 / 12 !important;
        grid-row: 5 / 6 !important;
        text-align: left !important;
    }

    .about-window-2{
        grid-column: 2/12 !important;
        grid-row: 8 / 10 !important;
        text-align: left !important;
        margin-top: 8px !important;
    }

    .about-window-3{
        grid-column: 2 / 12 !important;
        grid-row: 13 / 14 !important;
        text-align: left !important;
    }

    .about-window-4{
        grid-column: 2/12 !important;
        grid-row: 17 / 18 !important;
        text-align: left !important;
    }
    .user-experience-heading{
        white-space: normal !important;
    }
    .about-user-experience{
        display: flex;
        grid-column: 2/11 !important;
        grid-row: 4 !important;
    }
}

/*Specific for the download Page*/
@media (max-width: 415px) {
    html, body{
        overflow-x: hidden !important;
    }
    body{
        width: 100% !important;
    }
    .user8{
        visibility: hidden !important;
    }
    .user4{
        visibility: hidden !important;
    }
    
    h2.guavah-header-primary{
        font-size: 2.8rem !important;
    }
}