/*Small Browser Screens*/
@media (max-width: 830px) {

    /*Landing Page*/
    h1.guavah-header-light{
        word-spacing: 100vw;
        white-space: normal;
        text-align: center;
    }
}

@media (max-width: 400px) {

    /*Landing Page*/
    h1.guavah-header-light{
        word-spacing: 100vw;
        white-space: normal;
        text-align: center;
        font-size: 2.5rem;
    }
}