/*------------------------------------
Font Imports
------------------------------------*/
@font-face {
    font-family: ceraPro;
    src: url(../assets/fonts/Cera_Pro_Bold.otf);
  }

  @font-face {
    font-family: gigaSans;
    src: url(../assets/fonts/GigaSans-Regular.otf);
  }

/*------------------------------------
Core branding
------------------------------------*/
:root{
    /*Colors*/
    --brand-primary: #E76D6C;
    --brand-secondary: #282A36;
    --background: #F5F2F3;
    --light-alt: #DBD3CE;
    --dark-alt: #696164;

    /*Fonts*/
    --logo-type: ceraPro, sans-serif;
    --header-type: ceraPro, sans-serif;
    --text-type: gigaSans, sans-serif;
}

/*------------------------------------
Core branding (components)
------------------------------------*/
/*Logo*/
.guavah-logo-light{
    font-family: var(--logo-type);
    color: var(--background);
    font-size: 2.0rem;
    text-transform: lowercase;
}
.guavah-logo-primary{
    font-family: var(--logo-type);
    color: var(--brand-primary);
    font-size: 2.0rem;
    text-transform: lowercase;
}
.guavah-logo-secondary{
    font-family: var(--logo-type);
    color: var(--brand-secondary);
    font-size: 2.0rem;
    text-transform: lowercase;
}

/*Headers*/
.guavah-header-light{
    font-family: var(--logo-type);
    color: var(--background);
    font-size: 3.5rem;
    text-transform: lowercase;
}
.guavah-header-primary{
    font-family: var(--logo-type);
    color: var(--brand-primary);
    font-size: 3.5rem;
    text-transform: lowercase;
}
.guavah-header-secondary{
    font-family: var(--logo-type);
    color: var(--brand-secondary);
    font-size: 3.5rem;
    text-transform: lowercase;
}

/*Subheaders*/
.guavah-subheader-light{
    font-family: var(--logo-type);
    color: var(--background);
    font-size: 2.2rem;
    margin: 0;
    text-transform: lowercase;
    height: 2.2rem;
}
.guavah-subheader-primary{
    font-family: var(--logo-type);
    color: var(--brand-primary);
    font-size: 2.2rem;
    margin: 0;
    text-transform: lowercase;
    height: 2.2rem;
}
.guavah-subheader-secondary{
    font-family: var(--logo-type);
    color: var(--brand-secondary);
    font-size: 2.2rem;
    margin: 0;
    text-transform: lowercase;
    height: 2.2rem;
}

/*Emphasis*/
.guavah-emphasis-light{
    font-family: var(--text-type);
    color: var(--background);
    font-size: 1.6rem;
    margin: 0;
    text-transform: lowercase;
    line-height: 1.6rem;
}
.guavah-emphasis-primary{
    font-family: var(--text-type);
    color: var(--brand-primary);
    font-size: 1.6rem;
    margin: 0;
    text-transform: lowercase;
    line-height: 1.6rem;
}
.guavah-emphasis-secondary{
    font-family: var(--text-type);
    color: var(--brand-secondary);
    font-size: 1.6rem;
    margin: 0;
    text-transform: lowercase;
    line-height: 1.6rem;
}

/*Normal Text*/
.guavah-text-light{
    font-family: var(--text-type);
    color: var(--background);
    font-size: 1.1rem;
    margin: 0;
    height: 1.1rem;
}
.guavah-text-primary{
    font-family: var(--text-type);
    color: var(--brand-primary);
    font-size: 1.1rem;
    margin: 0;
    height: 1.1rem;
}
.guavah-text-secondary{
    font-family: var(--text-type);
    color: var(--brand-secondary);
    font-size: 1.1rem;
    margin: 0;
    height: 1.1rem;
}

/*link*/
.guavah-link{
  font-family: var(--logo-type);
  color: var(--brand-secondary);
  font-size: 1.6rem;
  text-transform: lowercase;
  line-height: 1.5rem;
  margin-bottom: 0;
  text-decoration: none;
  cursor: pointer;
}
.guavah-link-description{
  font-family: var(--text-type);
  color: var(--brand-secondary);
  font-size: 1.0rem;
  height: 1.0rem;
  
}
.guavah-link-info{
  font-family: var(--logo-type);
  color: var(--brand-secondary);
  font-size: 1.6rem;
  text-transform: lowercase;
  height: 2.0rem;
  margin-bottom: 0;
  text-decoration: none;
  
}

.guavah-link:hover{
  color: var(--brand-primary);
}
.guavah-link:hover + .guavah-link-description{
  color: var(--brand-primary);
}

.guavah-link:hover + .guavah-link-description{
  color: var(--brand-primary);
}

/*Buttons*/
.guavah-button-outline-light{
  display: inline-flex;
  align-items: center; 
  font-family: var(--text-type);
  font-size: 1.3rem;
  color: var(--background);
  background: none;
  border: 0.1em solid var(--background);
  border-radius: 5px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
}

/*Icon*/
.guavah-icon-light{
    font-family: var(--logo-type);
    color: var(--brand-primary);
    font-size: 3.0rem;
    text-transform: lowercase;

    background-color: var(--background);

    border-radius: 20px;
    width: 70px;
    min-width: 70px;
    height: 70px;
    min-height: 70px;

    text-align: center;
}.guavah-icon-light > h3{
    padding: 0px;
    margin: 0px;
    height: 3.0rem;
    line-height: 3.0rem;
}
.guavah-icon-primary{
    font-family: var(--logo-type);
    color: var(--background);
    font-size: 3.0rem;
    text-transform: lowercase;

    background-color: var(--brand-primary);

    border-radius: 20px;
    width: 70px;
    min-width: 70px;
    height: 70px;
    min-height: 70px;

    text-align: center;
}.guavah-icon-primary > h3{
    padding: 0px;
    margin: 0px;
    height: 3.0rem;
    line-height: 3.0rem;
}

/*Windows*/
.guavah-feature-window{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*Icons*/
.guavah-icon{
   width: 45px;
   height: 45px;
}
.guavah-icon-nav{
   width: 24px;
   height: 24px;
}
.guavah-profile{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px !important;
  min-width: 75px;
  min-height: 75px;
  max-width: 80px;
  max-height: 80px;
  border-radius: 100%;
  background-color: var(--background);
}

/*Spacers*/
.guavah-space-left-small{
  margin-left: 5px;
}
.guavah-space-left-medium{
  margin-left: 15px;
}
.guavah-space-left-large{
  margin-left: 30px;
}
.guavah-space-top-small{
  margin-top: 5px;
}
.guavah-space-top-medium{
  margin-top: 15px;
}
.guavah-space-top-large{
  margin-top: 30px;
}
/*------------------------------------
Scrollbar
------------------------------------*/
::-webkit-scrollbar {
    width: 5px;
  }
  /* Scrollbar Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  /* Scrollbar Handlle */
  ::-webkit-scrollbar-thumb {
    background: var(--brand-secondary);
    border-radius: 5px;
  }

/*------------------------------------
Animations
------------------------------------*/
.guavah-slide-in {
	-webkit-animation: guavah-slide-in 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: guavah-slide-in 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  visibility: initial !important; 
}

@-webkit-keyframes guavah-slide-in {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes guavah-slide-in {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

/*------------------------------------
Navbar
------------------------------------*/
.guavah-navbar{
  position: fixed;
  z-index: 10;
  height: 90px;
  width: 100vw;

  display: flex;

  background-color: var(--background);
}

.guavah-navbar-logo{
  width: 50%;
  padding-left: 2rem;
}

.guavah-navbar-content{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 3em;
  align-items: center;
  width: 40%;
}

.guavah-navbar-content-login{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 3.3rem;
  align-items: center;
  width: 10%;
}


.guavah-navbar-dropdown{
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.guavah-navbar-dropdown-menu{
  height: 45%;

  position: fixed;
  left: 0;
  top: 90px;
  width: 100vw;
  background-color: var(--background);
  padding: 2rem;

  box-shadow: 0 6px 5px 0 rgba(0,0,0,0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;
  overflow: hidden;
}

/*Products Dropdown*/
.guavah-dropdown-content{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(3, 33%);
}

.products-dropdown-description{
  grid-column: 2;
  grid-row: 1;
}

.products-description{
  grid-column: 3/6;
  grid-row: 1/4;
  padding-left: 3rem;
  padding-right: 3rem;
}

.products-description > div{
  display: flex;
}

.guavah-navbar-holder{
  height: 75%;
}

.guavah-navbar-dropdown.active > .products + .guavah-navbar-dropdown-menu{
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

.guavah-navbar-button{
  background: none;
  border: none;
  cursor: pointer;

  text-align: left;

  font-family: var(--text-type);
  color: var(--brand-secondary);
  font-size: 1.3rem;
  height: 1.3rem;
}

.guavah-navbar-button-hamburger{
  background: none;
  border: none;
  cursor: pointer;

  text-align: left;

  font-family: var(--text-type);
  color: var(--brand-secondary);
  font-size: 1.3rem;
  height: 1.3rem;

  display: none;
}

.guavah-navbar-button-login{
  background-color: var(--brand-primary);
  border: none;
  cursor: pointer;

  text-align: left;

  font-family: var(--text-type);
  color: var(--background);
  font-size: 1.2rem;
  line-height: 1.2rem;

  padding-bottom: 0.3rem;
  padding-top: 0.5rem;

  transition: box-shadow 0.4s;
}

.guavah-navbar-button-login:hover{
  background-color: #e24f4e;
  box-shadow: 5px 5px 0 0 rgba(231, 109, 108, 0.7);
}

.guavah-navbar-dropdown.active > .products,
.guavah-navbar-button:hover{
  color: var(--brand-primary);

  transition: 0.4s;
}