/*------------------------------------
Font Imports
------------------------------------*/
@font-face {
    font-family: ceraPro;
    src: url(../assets/fonts/Cera_Pro_Bold.otf);
  }

  @font-face {
    font-family: gigaSans;
    src: url(../assets/fonts/GigaSans-Regular.otf);
  }

/*------------------------------------
Core branding
------------------------------------*/
:root{
    /*Colors*/
    --brand-primary: #E76D6C;
    --brand-secondary: #282A36;
    --background: #F5F2F3;
    --light-alt: #DBD3CE;
    --dark-alt: #696164;

    /*Fonts*/
    --logo-type: ceraPro, sans-serif;
    --header-type: ceraPro, sans-serif;
    --text-type: gigaSans, sans-serif;
}

/*------------------------------------
Core branding (components)
------------------------------------*/
/*Headers*/
.guavah-header-light{
    font-family: var(--logo-type);
    color: var(--background);
    font-size: 3.5rem;
    text-transform: lowercase;
}
.guavah-header-primary{
    font-family: var(--logo-type);
    color: var(--brand-primary);
    font-size: 3.5rem;
    text-transform: lowercase;
}
.guavah-header-secondary{
    font-family: var(--logo-type);
    color: var(--brand-secondary);
    font-size: 3.5rem;
    text-transform: lowercase;
}

/*Subheaders*/
.guavah-subheader-light{
    font-family: var(--text-type);
    color: var(--background);
    font-size: 2.2rem;
    margin: 0;
    text-transform: lowercase;
    height: 2.2rem;
}
.guavah-subheader-primary{
    font-family: var(--text-type);
    color: var(--brand-primary);
    font-size: 2.2rem;
    margin: 0;
    text-transform: lowercase;
    height: 2.2rem;
}
.guavah-subheader-secondary{
    font-family: var(--text-type);
    color: var(--brand-secondary);
    font-size: 2.2rem;
    margin: 0;
    text-transform: lowercase;
    height: 2.2rem;
}

/*Buttons*/
.guavah-button-outline-light{
  display: inline-flex;
  align-items: center; 
  font-family: var(--text-type);
  font-size: 1.3rem;
  color: var(--background);
  background: none;
  border: 0.1em solid var(--background);
  border-radius: 5px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.2em;
}

/*Icon*/
.guavah-icon-light{
    font-family: var(--logo-type);
    color: var(--brand-primary);
    font-size: 3.0rem;
    text-transform: lowercase;

    background-color: var(--background);

    border-radius: 20px;
    width: 70px;
    min-width: 70px;
    height: 70px;
    min-height: 70px;

    text-align: center;
}.guavah-icon-light > h3{
    padding: 0px;
    margin: 0px;
    height: 3.0rem;
    line-height: 3.0rem;
}
.guavah-icon-primary{
    font-family: var(--logo-type);
    color: var(--background);
    font-size: 3.0rem;
    text-transform: lowercase;

    background-color: var(--brand-primary);

    border-radius: 20px;
    width: 70px;
    min-width: 70px;
    height: 70px;
    min-height: 70px;

    text-align: center;
}.guavah-icon-primary > h3{
    padding: 0px;
    margin: 0px;
    height: 3.0rem;
    line-height: 3.0rem;
}

.space-left{
  margin-left: 15px;
}
/*------------------------------------
Scrollbar
------------------------------------*/
::-webkit-scrollbar {
    width: 5px;
  }
  /* Scrollbar Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  /* Scrollbar Handlle */
  ::-webkit-scrollbar-thumb {
    background: var(--brand-secondary);
    border-radius: 5px;
  }